@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600&family=Pinyon+Script&family=Montserrat:wght@200;300;400;500&display=swap');
@import "tailwindcss";

@theme {
  --font-serif: "Cinzel", serif;
  --font-script: "Pinyon Script", cursive;
  --font-sans: "Montserrat", sans-serif;
}

@layer utilities {
  .preserve-3d {
    transform-style: preserve-3d;
  }
  .backface-hidden {
    backface-visibility: hidden;
  }
  .animate-spin-slow {
    animation: spin 12s linear infinite;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}



